<div class="container">

<h1>Amazing app</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio libero itaque totam dolor, soluta voluptatibus fugit a, aspernatur delectus quis blanditiis et harum, voluptates quae dolores enim. Perspiciatis, et inventore!</p>
<%= link_to 'Create a flat', "#" , class: "btn btn-primary" %>
</div>